dataengineeringcourse-352916-e81a76f636b6.json
.DS_Store
.idea
*.tfstate
*.tfstate.*
**.terraform
**.terraform.lock.*
**google_credentials.json
**logs/
**.env
**__pycache__/
.history
**/ny_taxi_postgres_data/*
serving_dir
*.csv
.ipynb_checkpoints/
!week_6_stream_processing/avro_example/data/rides.csv
week_1_basics_n_setup/2_docker_sql/yellow_tripdata_2021-01.parquet
week_1_basics_n_setup/2_docker_sql/raw_yellow_tripdata_2021_output_2021-12.parquet
week_1_basics_n_setup/2_docker_sql/taxi_zone_lookup.csv
week_1_basics_n_setup/2_docker_sql/taxi_zone_lookup.parquet
week_1_basics_n_setup/2_docker_sql/data_dictionary_trip_records_yellow.pdf
week_1_basics_n_setup/2_docker_sql/.ipynb_checkpoints

week_2_data_ingestion/.env
week_2_data_ingestion/airflow/.env
week_2_data_ingestion/yellow_tripdata_2021-01.parquet

